/.env
/venv/
/__pycache__/
# all the .env files and __pychache__ folders and venv folders in any folder of this project
*/.env
*/__pycache__/
*/venv/
/job_scrape/linkedin_jobs/
/job_fit_analysis/good_score_jobs.json
/job_fit_analysis/linkedin_jobs.json